* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

#hahaha {
    object-fit: cover;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
}

button {
    cursor: pointer;
}

#Greeting {
    width: 46.5vh;
    justify-content: center;
    display: flex;
}

.homebox {
    top: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    display: flex;
    background: #5f95da;
    max-width: 50vh;
    min-height: 100vh;
    border: 2vh solid #1E6ACF;
    box-sizing: border-box;
}

.g {
    max-width: 46vh;
    background-color: cornsilk;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%; 
    text-align: center;
}

.strbtn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 350;
    font-style: normal;
}

.str {
    margin-top: 35%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #4285DD;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #FFDE59;
    background-color: #FF5757;
}

.G9LC {
    background: #eee;
    border-radius: 50px;
}

.sidebar {
    z-index: 30;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 42vh;
    background-color: #4285DD;
}

.inner_sidebar {
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.preset {
    position: relative;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 3.5vh;
    margin-right: 1px;
    width: 20vh;
    height: 7vh;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5757;
    color: #FFDE59;
    border: dashed 0.2rem #FFDE59;
}

.preset:hover {
    transition: all .2s ease-in-out;
    font-size: 4.2vh;
}

.preset:active {
    background-color: #B2B2B2;
    box-shadow: 0 3px #6D6F6D;
    transform: translateY(3px);
    transition: 0.05s;
}

.manual {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
    width: 20vh;
    height: 7vh;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888888;
    color: #B2B2B2;
    border: dashed 0.2rem #FFDE59;
}

.manual:hover {
    transition: all .2s ease-in-out;
    font-size: 4.2vh;
}

.manual:active {
    background-color: #B2B2B2;
    box-shadow: 0 3px #6D6F6D;
    transform: translateY(3px);
    transition: 0.05s;
}

.preset_target {
    padding-top: 4vh;
    margin-top: 85vh;
    z-index: 10;
    width: 36vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 3vh;
    position: absolute;
}

.target_container_1 {
    position: absolute;
    z-index: 4;
    width: 35vh;
    height: 35vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.target_container_2 {
    position: absolute;
    z-index: 3;
    width: 35vh;
    height: 35vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.target_container_3 {
    position: absolute;
    z-index: 2;
    width: 35vh;
    height: 35vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.target_container_4 {
    position: absolute;
    z-index: 1;
    width: 35vh;
    height: 35vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.target_container_5 {
    position: absolute;
    z-index: 1;
    width: 35vh;
    height: 35vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.target_container_6 {
    position: absolute;
    z-index: 1;
    width: 35vh;
    height: 35vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.target_container_7 {
    position: absolute;
    z-index: 1;
    width: 35vh;
    height: 35vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.triangle {
    width: 33vh;
    height: 33vh;
    border-left: 16.5vh solid transparent;
    border-right: 16.5vh solid transparent;
    border-bottom: 33vh solid #eee;
}

#border_triangle {
    z-index: -2;
    position: absolute;
    width: 34vh;
    height: 34vh;
    border-left: 17vh solid transparent;
    border-right: 17vh solid transparent;
    border-bottom: 34vh solid #000;
}

.opt {
    margin-top: 35vh;
    width: 42vh;
    height: 33vh;
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.rotate {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
    width: 34vh;
    height: 8vh;
    border-radius: 10px;
    border: dashed 0.2rem #6D6F6D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate:hover {
    transition: all .2s ease-in-out;
    font-size: 5vh;
}

.swap {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vh;
    width: 34vh;
    height: 8vh;
    border-radius: 10px;
    border: dashed 0.2rem #6D6F6D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swap:hover {
    transition: all .2s ease-in-out;
    font-size: 4vh;
}

.clear {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5vh;
    width: 34vh;
    height: 8vh;
    border-radius: 10px;
    border: dashed 0.2rem #6D6F6D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear:hover {
    transition: all .2s ease-in-out;
    font-size: 5.5vh;
}

.circlebtn {
    font-size: 2.5vh;
    position: absolute;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    border: dashed 0.1rem #6D6F6D;
}

.circlebtn:hover {
    background-color: #FFDE59;
}

#preset_1 {
    top: 9.8vh;
    left: 14vh;
}

#preset_2 {
    top: 25vh;
    left: 6vh;
}

#preset_3 {
    top: 25vh;
    right: 6vh;
}

#preset_4 {
    top: 9vh;
    left: 14vh;
}

#preset_5 {
    top: 21vh;
    left: 10vh;
}

#preset_6 {
    top: 25vh;
    right: 6vh;
}

#preset_7 {
    top: 14vh;
    left: 17vh;
}

#preset_8 {
    top: 25vh;
    left: 6vh;
}

#preset_9 {
    top: 25vh;
    right: 6vh;
}

#preset_10 {
    top: 10vh;
    left: 14vh;
}

#preset_11 {
    top: 25vh;
    left: 6vh;
}

#preset_12 {
    top: 22vh;
    right: 10vh;
}

#preset_13 {
    top: 9vh;
    left: 14vh;
}

#preset_14 {
    top: 21vh;
    left: 20vh;
}

#preset_15 {
    top: 25vh;
    left: 6vh;
}

#preset_16 {
    top: 14vh;
    right: 17vh;
}

#preset_17 {
    top: 25vh;
    left: 6vh;
}

#preset_18 {
    top: 25vh;
    right: 6vh;
}

#preset_19 {
    top: 10vh;
    left: 14vh;
}

#preset_20 {
    top: 25vh;
    right: 6vh;
}

#preset_21 {
    top: 22vh;
    left: 10vh;
}

.prefix {
    background-color: #eee;
    height: 16vh;
    width: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 3vh;
}

.manual_target {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    border-radius: 3vh;
    margin-top: 85vh;
    background-color: #D9D9D9;
    position: absolute;
    width: 36vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input_value {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 17vh;
    height: 6vh;
    border-radius: 2vh;
    border: dashed #6D6F6D;
    padding-left: 3vh;
    font-size: 3vh;
}

.calculate {
    display: inline-block;
    border: 0.2rem dashed #FFDE59;
    margin-top: 172vh;
    position: absolute;
    height: 10vh;
    width: 37vh;
    border-radius: 3vh;
    background-color: #FF5757;
    color: #FFDE59;
    font-size: 4vh;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculate span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.calculate span:after {
    content: '\00bb';
    font-size: 6vh;
    position: absolute;
    opacity: 0;
    top: -2.4vh;
    right: -3vh;
    transition: 0.2s;
}

.calculate:hover span {
    padding-right: 6vh;
}

.calculate:hover span:after {
    opacity: 1;
    right: 0;
}


.calculate:active {
    scale: 0.95;
    transition: 0.01s;
}

.calculate:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    background-size: 400%;
    z-index: -1;
    filter: blur(0.7vh);
    height: 10.5vh;
    width: 37.8vh;
    border-radius: 20px;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.calculate:hover:before {
    opacity: 1;
}

.calculate:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FF5757;
    left: 0;
    top: 0;
    border-radius: 3vh;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.recbtn {
    width: 3vh;
    height: 3vh;
}


#rec {
    width: 3vh;
    height: 3vh;
}

.bottom_bar {
    z-index: 25;
    left: 42vh;
    background-color: #B2B2B2;
    bottom: 0;
    position: absolute;
    height: 27vh;
    width: 164.85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.status {
    z-index: 100;
    background-color: #1E6ACF;
    bottom: 20vh;
    left: 1.4vh;
    position: absolute;
    width: 31vh;
    height: 8vh;
    border-radius: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3vh;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.bigcirclebtn_go {
    left: -33vh;
    position: absolute;
    border: 0.2rem dashed #FFDE59;
    z-index: 4;
    height: 27vh;
    width: 27vh;
    border-radius: 50%;
    background-color: #FF5757;
    color: #FFDE59;
    font-size: 9vh;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigcirclebtn_go:hover {
    transition: all .2s ease-in-out;
    font-size: 10vh;
}

.bigcirclebtn_go:active {
    scale: 0.95;
    transition: 0.1ms;
}

.bigcirclebtn_go:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    background-size: 400%;
    z-index: -1;
    filter: blur(0.7vh);
    height: 27vh;
    width: 27vh;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}

.bigcirclebtn_go:hover:before {
    opacity: 1;
}

.bigcirclebtn_go:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FF5757;
    left: 0;
    top: 0;
    border-radius: 50%;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.launch_btn {
    bottom: 27vh;
    left: 163vh;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.status_bar_before_go {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 3;
    left: 8vh;
    bottom: 2vh;
    background-color: #D9D9D9;
    position: absolute;
    border: 0.5rem solid #4285DD;
    border-radius: 4vh;
    width: 140vh;
    height: 21vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slideX {
    top: 1vh;
    left: 3vh;
    position: absolute;
    font-size: 1.75vh;
    width: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.slideY {
    top: 10vh;
    left: 3vh;
    position: absolute;
    font-size: 1.75vh;
    width: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

}

.Angle {
    top: 4.5vh;
    left: 73vh;
    position: absolute;
    font-size: 2.5vh;
    width: 45vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Angle {
    margin-top: -5vh;
    font-size: 3vh;
}

#slideX {
    padding-left: 2vh;
    font-size: 3vh;
}

#slideY {
    padding-left: 1vh;
    font-size: 3vh;
}

.status_bar_after_go {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vh;
    z-index: 0;
    left: 8vh;
    bottom: 2vh;
    background-color: #D9D9D9;
    position: absolute;
    border: 0.5rem solid #4285DD;
    border-radius: 4vh;
    width: 140vh;
    height: 21vh;
    display: flex;
}

.displacement_x {
    position: absolute;
    top: 1vh;
    left: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.displacement_y {
    position: absolute;
    top: 10vh;
    left: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.velocity_x {
    position: absolute;
    top: 1vh;
    left: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.velocity_y {
    position: absolute;
    top: 10vh;
    left: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time{
    position: absolute;
    top: 2.5vh;
    left: 97.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time{
    font-size: 2.5vh;
}

#displacement_x {
    padding-left: 1.75vh;
    font-size: 3vh;
}

#displacement_y {
    padding-left: 1.75vh;
    font-size: 3vh;
}

#velocity_x {
    padding-left: 1.75vh;
    font-size: 3vh;
}

#velocity_y {
    padding-left: 1.75vh;
    font-size: 3vh;
}

.bigcirclebtn_reset {
    left: -33vh;
    position: absolute;
    border: 0.2rem dashed #FFDE59;
    z-index: 1;
    height: 27vh;
    width: 27vh;
    border-radius: 50%;
    background-color: #FF5757;
    color: #FFDE59;
    font-size: 6vh;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigcirclebtn_reset:hover {
    transition: all .2s ease-in-out;
    font-size: 54px;
}

.bigcirclebtn_reset:active {
    scale: 0.95;
    transition: 0.1ms;
}

.bigcirclebtn_reset:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    background-size: 400%;
    z-index: -1;
    filter: blur(0.7vh);
    height: 27vh;
    width: 27vh;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}

.bigcirclebtn_reset:hover:before {
    opacity: 1;
}

.bigcirclebtn_reset:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FF5757;
    left: 0;
    top: 0;
    border-radius: 50%;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.speedbtn {
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    padding-left: 1vh;
    width: 25vh;
    height: 18vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 5.5vh;
    right: 17vh;
    z-index: 3;
    background-color: #B2B2B2;
}

.recbtns {
    font-size: 2vh;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 0.1rem dashed #6D6F6D;
    padding-left: 0.8vh;
    border-top-left-radius: 1.4vh;
    width: 18vh;
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.recbtns:hover {
    background-color: #FFDE59;
}

.recbtnx {
    font-size: 2vh;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 0.1rem dashed #6D6F6D;
    padding-left: 0.8vh;
    width: 18vh;
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #FFDE59;
}

.recbtnx:hover {
    background-color: #FFDE59;
}

.recbtnl {
    font-size: 2vh;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 0.1rem dashed #6D6F6D;
    padding-left: 0.8vh;
    border-bottom-left-radius: 1.4vh;
    width: 18vh;
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.recbtnl:hover {
    background-color: #FFDE59;
}

.setting {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 100;
    border-radius: 4vh;
    width: 105vh;
    height: 73vh;
    background-color: #4285DD;
    top: 5vh;
    left: 65vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign {
    font-size: 2.5vh;
    border-radius: 2vh;
    border: solid #6D6F6D;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.4vh;
    position: absolute;
    width: 35vh;
    height: 7vh;
    background-color: #D9D9D9;
}

.info {
    border-radius: 2vh;
    position: absolute;
    top: 10.5vh;
    background-color: #D9D9D9;
    width: 95vh;
    height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 81vh;
    height: 8.7vh;
}

.label {
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    background-color: #4285DD;
    width: 42vh;
    height: 7vh;
    font-size: 2.5vh;
}

.valuebox {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
    padding-left: 3vh;
    height: 7vh;
    width: 42vh;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.settingbtninfo {
    margin-top: 44vh;
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 105vh;
}

.setup {
    width: 28vh;
    height: 8vh;
    border-radius: 2vh;
    border: dashed;
    color: #FFDE59;
    background-color: #FF5757;
    font-size: 4vh;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    display: flex;
}

.setup:hover {
    transition: all .2s ease-in-out;
    font-size: 5vh;
}

.setup:active {
    scale: 0.95;
    transition: 0.1ms;
}

.cancel {
    width: 28vh;
    height: 8vh;
    border-radius: 2vh;
    border: dashed;
    font-size: 4vh;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #eee;
    color: #6D6F6D;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cancel:hover {
    transition: all .2s ease-in-out;
    font-size: 5vh;
}

.cancel:active {
    scale: 0.95;
    transition: 0.1ms;
}

#st {
    width: 7vh;
    height: 7vh;
    border-radius: 1.2vh;
}

#lg {
    width: 7vh;
    height: 7vh;
    border-radius: 1.2vh;
}

.display {
    z-index: 15;
    top: 0;
    left: 0;
    width: 206.85vh;
    height: 100vh;
    position: absolute;
    display: flex;
}

#path{
    z-index: 1000;
    position: absolute;
    right: 40vh;
    top: 2vh;
    width: 15vh;
    height: 3vh;

}

#cpath{
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1000;
    position: absolute;
    right: 30vh;
    top: 0.7vh;
    width: 15vh;
    height: 3vh;

}

.settingbtn {
    z-index: 6;
    border-left: dashed 0.1rem #000;
    border-bottom: dashed 0.1rem #000;
    right: 0;
    width: 25vh;
    height: 11vh;
    position: absolute;
    background-color: #eee;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 4vh;
}

.set {
    width: 7vh;
    height: 7vh;
    border-radius: 1.4vh;
    box-shadow: 0.7vh 0.7vh #888888;
}

.leave {
    width: 7vh;
    height: 7vh;
    border-radius: 1.4vh;
    box-shadow: 0.7vh 0.7vh #888888;
}

.floor {
    position: absolute;
    left: 42vh;
    bottom: 23vh;
    width: 164.85vh;
    height: 7vh;
    z-index: 15;
    background-image: linear-gradient(#6D6F6D, #B2B2B2);
    border-top: solid #000 0.5rem;
}

#lct {
    top: 53vh;
    position: absolute;
    left: 60vh;
    max-width: 20vh;
    max-height: 20vh;
    z-index: 5;
    transform-origin: 40% 88%;
    transition: 1s;
}

#lcb {
    top: 59vh;
    position: absolute;
    left: 60vh;
    max-width: 20vh;
    max-height: 20vh;
    z-index: 4;
    transition: 1s;
}


.side {
    z-index: 3;
    top: 0;
    left: 0;
    width: 206.85vh;
    height: 100vh;
    position: absolute;
    display: flex;
    background-color: #fff;
}

#wall {
    width: 0.5vh;
    height: 26vh;
    background-color: #6da1e5;
    position: absolute;
    top: 44vh;
    left: 117.5vh;
    z-index: 5;
}

#table {
    width: 0.5vh;
    height: 32vh;
    background-color: salmon;
    position: absolute;
    top: 38vh;
    left: 157.5vh;
    z-index: 5;
}

#ttt {
    width: 0.5vh;
    height: 20vh;
    background-color: #48ff00;
    position: absolute;
    top: 18vh;
    left: 157.5vh;
    z-index: 5;
}

.top {
    z-index: 1;
    top: 0;
    left: 42vh;
    width: 164.85vh;
    height: 70vh;
    position: absolute;
    display: flex;
    background-color: #fff;
}

#field{
    position: absolute;
    top:5vh;
    left: 40vh;
    width: 80vh;
    height: 60vh;
    border: 1vh solid #000;
}

#origintop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    z-index: 100;
    background-color: #FF5757;
    font-size: 5vh;
    position: absolute;
    top: 1.5vh;
    left: 36vh;
    color: #000;
}

#origin{
    rotate: 90deg;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    z-index: 100;
    background-color: #FF5757;
    font-size: 5vh;
    position: absolute;
    top: 65vh;
    left: 35vh;
    color: #000;
}

#G9top {
    left: 52vh;
    top: 1.5vh;
    position: absolute;
    max-width: 70vh;
    max-height: 70vh;
    rotate: 180deg;
    transition: 1s;
}

#squash {
    z-index: 5;
    background-color: #FFDE59;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 1rem solid #000;
    position: absolute;
    bottom: 23vh;
    left: 71.5vh;
}

.target {
    z-index: 0;
    top: 0;
    left: 42vh;
    width: 164.85vh;
    height: 70vh;
    position: absolute;
    display: flex;
    background-color: #fff;
}

.btriangle {
    top: 1vh;
    left: 40vh;
    position: absolute;
    width: 68vh;
    height: 68vh;
    border-left: 34vh solid transparent;
    border-right: 34vh solid transparent;
    border-bottom: 68vh solid #000;
}

.circle_target {
    position: absolute;
    width: 14vh;
    height: 14vh;
    background-color: #fff;
    border: dashed 0.1rem #000;
    border-radius: 50%;
}

#set_1 {
    z-index: 4;
    position: absolute;
    top: 1.2vh;
    left: -33vh;
    width: 66vh;
    height: 66vh;
    border-left: 33vh solid transparent;
    border-right: 33vh solid transparent;
    border-bottom: 66vh solid #eee;
}

#set_2 {
    z-index: 3;
    position: absolute;
    top: 1.2vh;
    left: -33vh;
    width: 66vh;
    height: 66vh;
    border-left: 33vh solid transparent;
    border-right: 33vh solid transparent;
    border-bottom: 66vh solid #eee;
}

#set_3 {
    z-index: 2;
    position: absolute;
    top: 1.2vh;
    left: -33vh;
    width: 66vh;
    height: 66vh;
    border-left: 33vh solid transparent;
    border-right: 33vh solid transparent;
    border-bottom: 66vh solid #eee;
}

#set_4 {
    z-index: 1;
    position: absolute;
    top: 1.2vh;
    left: -33vh;
    width: 66vh;
    height: 66vh;
    border-left: 33vh solid transparent;
    border-right: 33vh solid transparent;
    border-bottom: 66vh solid #eee;
}

#set_5 {
    z-index: 1;
    position: absolute;
    top: 1.2vh;
    left: -33vh;
    width: 66vh;
    height: 66vh;
    border-left: 33vh solid transparent;
    border-right: 33vh solid transparent;
    border-bottom: 66vh solid #eee;
}

#set_6 {
    z-index: 1;
    position: absolute;
    top: 1.2vh;
    left: -33vh;
    width: 66vh;
    height: 66vh;
    border-left: 33vh solid transparent;
    border-right: 33vh solid transparent;
    border-bottom: 66vh solid #eee;
}

#set_7 {
    z-index: 1;
    position: absolute;
    top: 1.2vh;
    left: -33vh;
    width: 66vh;
    height: 66vh;
    border-left: 33vh solid transparent;
    border-right: 33vh solid transparent;
    border-bottom: 66vh solid #eee;
}

#c1 {
    top: 14vh;
    left: -7vh;
}

#c2 {
    top: 50vh;
    right: 10.5vh;
}

#c3 {
    top: 50vh;
    left: 10.5vh;
}

#c4 {
    top: 14vh;
    right: -6.4vh;
}

#c5 {
    top: 42vh;
    right: 1vh;
}

#c6 {
    top: 50vh;
    left: 10.5vh;
}

#c7 {
    top: 25vh;
    left: -3vh;
}

#c8 {
    top: 50vh;
    right: 10.5vh;
}

#c9 {
    top: 50vh;
    left: 10.5vh;
}

#c10 {
    top: 14vh;
    right: -8.4vh;
}

#c11 {
    top: 50vh;
    right: 10.5vh;
}

#c12 {
    top: 45vh;
    left: 2vh;
}

#c13 {
    top: 14vh;
    right: -6.4vh;
}

#c14 {
    top: 42vh;
    left: 4vh;
}

#c15 {
    top: 50vh;
    right: 10.5vh;
}

#c16 {
    top: 25vh;
    right: -2vh;
}

#c17 {
    top: 50vh;
    right: 10.5vh;
}

#c18 {
    top: 50vh;
    left: 10.5vh;
}

#c19 {
    top: 14vh;
    right: -6.4vh;
}

#c20 {
    top: 50vh;
    left: 10.5vh;
}

#c21 {
    top: 45vh;
    right: 2vh;
}

.vbtn {
    z-index: 1000;
    position: absolute;
    top: 21vh;
    left: 193.5vh;
    width: 12vh;
    height: 36vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#aim {
    width: 7vh;
    height: 7vh;
}

.tview {
    z-index: 10000;
    border-top-left-radius: 3.5vh;
    border-top-right-radius: 3.5vh;
    background-color: #eee;
    width: 8vh;
    height: 9vh;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5vh;
    border: dashed #000 0.1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tview:hover {
    background-color: #FFDE59;
}

.sview {
    z-index: 10000;
    border-bottom-left-radius: 3.5vh;
    border-bottom-right-radius: 3.5vh;
    background-color: #FFDE59;
    width: 8vh;
    height: 9vh;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5vh;
    border: dashed #000 0.1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sview:hover {
    background-color: #FFDE59;
}

.targetview {
    z-index: 10000;
    background-color: #eee;
    width: 8vh;
    height: 9vh;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5vh;
    border: dashed #000 0.1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.targetview:hover {
    background-color: #FFDE59;
}